
ml/pushkin.csv
ml/teramshort.csv
ml/turgenev.csv
ml/dostoewsky.csv
chrome_extension/dpast/.DS_Store
chrome_extension/.DS_Store
Нормальный лендинг на flask/.DS_Store
Нормальный лендинг на flask/static/.DS_Store
frontend/Нормальный лендинг на flask/.DS_Store
frontend/Нормальный лендинг на flask/static/.DS_Store
frontend/Нормальный лендинг на flask/static/files/.DS_Store
frontend/Нормальный лендинг на flask/static/img/.DS_Store
frontend/Нормальный лендинг на flask/static/video/.DS_Store
frontend/Нормальный лендинг на flask/templates/.DS_Store
