<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="DeepPast - Помощник в понимании устаревших текстов." />
  <meta name="author" content="DeepPast" />
  <title>DeepPast - Главная</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chivo:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" media="screen">
  <link rel="stylesheet" href="https://yandex.st/highlightjs/7.3/styles/default.min.css">

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>

  <div class="donate">
    <div class="container">
      <div class="navigation">
        <nav>
          <a href="index.html" class="selected">Главная</a>
          <a href="/documenation">Документация</a>
          <a href="https://github.com/MrFzovpec/deepPast" target="black">Github</a>

        </nav>
      </div>
      <i class="hidden">Close</i>
    </div>
  </div>

  <div class="hero home">
    <div class="container">
      <img class="logo2" src="{{ url_for('static', filename = 'img/logo3.jpg') }}" alt="">

    </div>
  </div>

  <div class="container description">
    <h2 class="point-title">О проекте</h2>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <p>
          Наш проект представляет собой комплексное решение проблемы незнания значений слов/словосочетаний/речевых оборотов, которое обеспечивает быстрое и точное разъяснение устаревшей речи. В качестве продуктов мы предоставляем
          пользователю расширение для браузера и SDK (приемущественно для разработчиков).
        </p><br>
        <a href="/documenation" target="black" class="button-large">Перейти к документации</a>

      </div>
      <div class="col-lg-6 -col-md-12">
        <img width="70%" src="{{ url_for('static', filename = 'img/logo_d.jpg') }}" alt="">
      </div>

    </div>
    <h2 class="point-title">SDK</h2>
    <div class="row">

      <div class="col-lg-6 col-md-12">
        <img width="95%" class="" src="{{ url_for('static', filename = 'img/example_1.png') }}" alt="">
      </div>
      <div class="col-lg-6 col-md-12">
        <p>
          1) Наша SDK библиотека дает возможность добавить на ваш сайт автоматическое распозниние уставревшего слова. <br>
          2) Наш SDK облегчит пользователям поиск значения интересющих их слов, ведь для этого не нужно будет открывать дополнительный сайт, достаточно лишь нажать на неизвестное слово.<br>
          3) Искусственный интелект с высокой точностью определяет устаревшее слово и выдает его значение.<br>
          4) Просто и удобно в использовании как для разработчика, так и для пользователя.
        </p><br>
        <a href="{{ url_for('static', filename = 'files/dpast.zip') }}" download class="button-large">Скачать SDK-файлы</a>

      </div>

    </div>

    <h2 class="point-title">Расширение для Google Chrome</h2>
    <div class="row">

      <div class="col-lg-6 col-md-12">
        <img width="100%" class="" src="{{ url_for('static', filename = 'img/example_3.png') }}" alt="">
      </div>
      <div class="col-lg-6 col-md-12">
        <img width="85%" class="" src="{{ url_for('static', filename = 'img/example_4.png') }}" alt="">

        <p>

          Расширение для браузера анализирует контент на странице и находит устаревшие слова, выводя их списком в удобном окне. Пользователю будут доступны определения всех слов.
        </p><br>
        <a href="{{ url_for('static', filename = 'files/chrome_extension.zip') }}" download class="button-large">Скачать расширение</a>
      </div>
    </div>



  </div>

  <center>
    <div class="container">
      <iframe
        src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B8%2C%20%D0%B5%D1%81%D0%BB%D0%B8%20%D0%BF%D0%BE%D0%BD%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%D1%81%D1%8C%20%D0%B8%D0%B4%D0%B5%D1%8F.%20%D0%9A%D1%83%D0%BF%D0%B8%D0%BC%20%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%B5%D1%80%D0%B2%D0%B0%D0%BA%20%D0%B8%20%D0%BF%D0%B8%D1%86%D1%86%D1%83)&targets-hint=&default-sum=50&button-text=13&payment-type-choice=on&comment=on&hint=%D0%A7%D1%82%D0%BE%20%D1%82%D1%8B%20%D1%85%D0%BE%D1%82%D0%B5%D0%BB%20%D0%B1%D1%8B%20%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D1%82%D1%8C%3F&successURL=&quickpay=shop&account=410017742960837"
        width="423" height="341" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
    </div>
  </center>




  </div>

  <footer>
    <div class="container">
      <img src="{{ url_for('static', filename = 'img/logo3.jpg') }}" alt="">
      <h3>Созданно командой GeekOn Team</h3>

      <ol>
        <li><a href="https://vk.com/gppetr" target="_blank">Петя</a></li>
        <li><a href="https://vk.com/id227815939" target="_blank">Артур</a></li>
        <li><a href="https://vk.com/glowd" target="_blank">Данила</a></li>
        <li><a href="https://vk.com/tikhonnnnnn" target="_blank">Тихон</a></li>
        <li><a href="https://vk.com/sdostoevsky2015" target="_blank">Сережа</a></li>
        <li><a href="https://github.com/MrFzovpec/deepPast" target="_blank">Github</a></li>

      </ol>
    </div>
  </footer>

  <script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.mask.min.js') }}"></script>

  <script src="{{ url_for('static', filename = 'js/examples.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/donation.js') }}"></script>
</body>

</html>
