body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    background: black;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    color: white;
    margin: 0;
    text-transform: uppercase;

}

.poem{
    margin-top: 50px;
    background: #E4E4E4;
    padding: 4%;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 18px
}
